html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }

body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 24px;
}

h1 {
	text-align: center;
}

.ovoce {
	text-align: center;
}

.ovoce img {
	border-radius: 10px;
	border: 2px solid silver;
	cursor: pointer;
}

.ovoce img:hover {
	border-color: tomato;
}

#odpoved {
	text-align: center;
}